.navbar {

    position: fixed;
    background-color: black;
    width: 100%;
    top: 0;
    left: 0;
    height: var(--navbar-height);
    font-family: subway;
    justify-content: flex-start;
    z-index: 2;
        
}

.navbar-item a{

    font-family: subway;
    margin: 0;
    padding: 0;
    text-decoration: none;

    color: azure;
    display: block;
    text-align: center;
    line-height: 3rem;
    font-size: 2rem;
}



.navbar-item a:hover{
    background-color:lightgrey;
    color: black;
    font-family: subway;
    text-decoration: none;
    
}

.lupa-icon{
  height: 22px;
}

.navbar-item a:hover .lupa-icon{
    filter: invert(0);
    
}

.logout-icon{
  height: 22px;
}

.navbar-item a:hover .logout-icon{
  filter: invert(1);
  
}

.logo {
    font-family: beba, 'Times New Roman', Times, serif;
    line-height: var(--navbar-height);
    text-align: center;
    color:red;
    font-size: 2rem;
}
  
#burger-checkbox {
    display: none;
}
  
.burger-label {
    
    position: absolute;
    top: 0;
    left: 0;
    width: 2rem;
    height: 2rem;

}
  
.burger-label:before {
    content: '';
    background-color: darkgray;
    width: 1rem;
    height: 0.12rem;
    position: absolute;
    left: 0.45rem;
    top: 0.65rem;
  
    box-shadow: 0 0.25rem 0 0 darkgray, 0 0.5rem 0 0 darkgray;
}
  
  /* cerrado */
.navbar-list {
    display: none;
    list-style: none;
    margin: 0;
    padding: 0;
}
  
  /* abierto */
#burger-checkbox:checked ~ .navbar-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    background-color: black;
    height: calc(100vh - var(--navbar-height));
    opacity: 0.85;
}
  
.busqueda{

  /* visibility: hidden; */
  position: relative;
  
}



  input[type='text']{
    padding:5px;
    font-size: 1.6rem;
    width: 80vw;
    /* float: right; */
    /* border-radius: 10px 10px 10px 10px;  */

}

.lupa-icon{

  /* visibility: hidden; */
  filter: invert(1);
  object-position: auto;
  /* float:left; */
  padding-left: 20px;
  
}

  
  @media (min-width: 768px) {
    .navbar {
      display: flex;
      justify-content: space-between;
    }
  
    .navbar .logo {
      margin: 0 1rem;
    }
  
    .navbar .burger-label {
      display: none;
    }
  
    .navbar-list {
      display: flex;
    }
  
    .navbar-item a {
      color: white;
      font-size: 1.3rem;
      line-height: var(--navbar-height);
      padding: 0 1rem;
    }

    .busqueda{

      visibility: hidden;
      position: absolute;
      top: var(--navbar-height);
      padding-top: 0.5rem;
      padding-bottom: 0.5rem;
      right:0px;
      
  }

  .item-busqueda:hover .busqueda{
      
    visibility: visible;
    background-color: black;
    height: 65px;
    width: 22rem;
    padding-right: 15px;
    border-radius: 0px 0px 0px 10px; 
  }
    
  input[type='text']{
    padding:5px;
    width: 20rem;
    font-size: 1.6rem;
    border-radius: 10px 10px 10px 10px; 
    float:right;
}


    
.lupa-icon{

  filter: invert(1);
  object-position: auto;
  padding-right: 2rem;
  padding-left: 2rem;
  
}



}







